<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-follow up (ระบบติดตามผลหลังการฝึกอบรม)</title>

    <link rel="stylesheet" type="text/css" href="static/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="static/fontawesome/css/all.min.css">

    <script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="static/fontawesome/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
</style>

<body>
    <div class="container is-fluid">
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item has-background-primary" href="/">
                    <h1 class="has-text-white">e-follow up <i class="fa-solid fa-circle-check"></i> </h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/"> ตรวจสอบสถานะ </a>
                    <a class="navbar-item" href="/dashboard"> Dashboard </a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container is-fluid mt-6">
        <h1 class="title is-3 has-text-centered">Dashboard ระบบติดตามผลการตอบแบบประเมินผลหลังการฝึกอบรม (e-follow up)
        </h1>
        <div class="columns mt-6">
            <div class="column">
                <p class="has-text-centered">ขัอมูลการตอบแบบประเมินผลหลังการฝึกอบรมของ<u>ผู้เข้าอบรม</u></p>
                <canvas id="ChartEmp" width="200" height="150" class="mt-3"></canvas>
            </div>
            <div class="column">
                <p class="has-text-centered">ขัอมูลการตอบแบบประเมินผลหลังการฝึกอบรมของ<u>หัวหน้างานขั้นต้น</u></p>
                <canvas id="ChartManager" width="200" height="150" class="mt-3"></canvas>
            </div>
        </div>


        <footer class="footer mt-6">
            <div class="content has-text-centered">
                <p>พัฒนาระบบโดยศูนย์ฝึกปฏิบัติการไฟฟ้าแรงสูง | Tel <i class="fa-solid fa-square-phone"></i> :
                    034-339-224, (33) 15610 e-mail <i class="fa-solid fa-square-envelope"></i> : hvtc@pea.co.th</p>
            </div>
        </footer>

    </div>
</body>

<script>
    Chart.defaults.font.family = 'Prompt';
    const ctx = document.getElementById('ChartEmp').getContext('2d');
    const ChartEmp = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for x in listdata[0] %} '{{ x }}', {% endfor %}],
    datasets: [{
        label: 'จำนวนผู้เข้าอบรมที่ตอบแบบประเมิน (%)',
        data: [{% for x in listdata[1] %} {{ x }}, {% endfor %}],
        backgroundColor: [
            'rgba(255,0,0, 0.5)',
            'rgba(255,127,80, 0.5)',
            'rgba(255,165,0, 0.5)',
            'rgba(255,215,0, 0.5)',
            'rgba(128,128,0, 0.5)',
            'rgba(152,251,152, 0.5)',
            'rgba(0,255,255, 0.5)',
            'rgba(64,224,208, 0.5)',
            'rgba(72,61,139, 0.5)',
            'rgba(128,0,128, 0.5)',
            'rgba(238,130,238, 0.5)',
            'rgba(218,112,214, 0.5)',
            'rgba(255,192,203, 0.5)',
            'rgba(245,222,179, 0.5)',
            'rgba(210,105,30, 0.5)',
            'rgba(188,143,143, 0.5)',
            'rgba(112,128,144, 0.5)'
        ],
            }]
        },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });

    const ctx2 = document.getElementById('ChartManager').getContext('2d');
    const ChartManager = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: [{% for x in listdata[0] %} '{{ x }}', {% endfor %}],
    datasets: [{
        label: 'จำนวนหัวหน้างานขั้นต้นที่ตอบแบบประเมิน (%)',
        data: [{% for x in listdata[2] %} {{ x }}, {% endfor %}],
        backgroundColor: [
            'rgba(255,0,0, 0.5)',
            'rgba(255,127,80, 0.5)',
            'rgba(255,165,0, 0.5)',
            'rgba(255,215,0, 0.5)',
            'rgba(128,128,0, 0.5)',
            'rgba(152,251,152, 0.5)',
            'rgba(0,255,255, 0.5)',
            'rgba(64,224,208, 0.5)',
            'rgba(72,61,139, 0.5)',
            'rgba(128,0,128, 0.5)',
            'rgba(238,130,238, 0.5)',
            'rgba(218,112,214, 0.5)',
            'rgba(255,192,203, 0.5)',
            'rgba(245,222,179, 0.5)',
            'rgba(210,105,30, 0.5)',
            'rgba(188,143,143, 0.5)',
            'rgba(112,128,144, 0.5)'
        ],
            }]
        },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
</script>


</html>