<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-follow up (ระบบติดตามผลหลังการฝึกอบรม)</title>

    <link rel="stylesheet" type="text/css" href="static/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="static/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/datatables/datatables.min.css" />

    <script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="static/fontawesome/js/all.min.js"></script>
    <script type="text/javascript" src="static/datatables/datatables.min.js"></script>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
</style>

<body>
    <div class="container is-fluid">
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item has-background-primary" href="#">
                    <h1 class="has-text-white">e-follow up <i class="fa-solid fa-circle-check"></i> </h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <!-- <a class="navbar-item"> Home </a> -->
                    <a class="navbar-item"> Dashboard </a>
                </div>
                <!-- <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary">
                                <span class="icon">
                                    <i class="fa-solid fa-download"></i>
                                </span>
                                <strong>Dashboard</strong>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </nav>
    </div>

    <div class="container is-fluid mt-6">
        <h1 class="title is-3 has-text-centered">ระบบติดตามผลการตอบแบบประเมินผลหลังการฝึกอบรม (e-follow up)</h1>
        <h3 class="subtitle has-text-centered">
            สามารถตรวจสอบสถานะการตอบแบบประเมินได้ โดยระบุคำค้นหาที่ต้องการในช่อง "ค้นหา"
        </h3>

        <p></p>

        <table class="table is-fullwidth" id="coursedata">
            <thead>
                <tr class="has-text-centered">
                    <th style="vertical-align: middle;">หลักสูตร</th>
                    <th style="vertical-align: middle;">รหัสพนักงาน</th>
                    <!-- <th colspan="3">ชื่อ-นามสกุล</th> -->
                    <th style="vertical-align: middle;">คำนำหน้า</th>
                    <th style="vertical-align: middle;">ชื่อ</th>
                    <th style="vertical-align: middle;">นามสกุล</th>
                    <th style="vertical-align: middle;">ตำแหน่ง</th>
                    <th style="vertical-align: middle;">สังกัด</th>
                    <th>สถานะการตอบ<br />ผู้เข้าอบรม</th>
                    <th>สถานะการตอบ<br />หัวหน้างานขั้นต้น</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(1, len) %}

                <tr>
                    {% set item = listdata[i] %}
                    <th class="has-text-centered">{{item[0]}}</th>
                    <td class="has-text-centered">{{item[0]}}</td>
                    <td class="">{{item[1]}}</td>
                    <td class="">{{item[2]}}</td>
                    <td class="">{{item[3]}}</td>
                    <td class="has-text-centered">{{item[4]}}</td>
                    <td class="has-text-centered">{{item[5]}}</td>

                    {% if item[6] == 'ตอบแล้ว' %}
                    <td class="has-text-primary has-background-primary-light has-text-centered">{{item[6]}}</td>
                    {% elif item[6] == 'ยังไม่ตอบ'%}
                    <td class="has-text-danger has-background-danger-light has-text-centered">{{item[6]}}</td>
                    {% endif %}


                    {% if item[6] == 'ตอบแล้ว' %}
                    <td class="has-text-primary has-background-primary-light has-text-centered">{{item[6]}}</td>
                    {% elif item[6] == 'ยังไม่ตอบ'%}
                    <td class="has-text-danger has-background-danger-light has-text-centered">{{item[6]}}</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer class="footer mt-6">
            <div class="content has-text-centered">
                <p>พัฒนาระบบโดยศูนย์ฝึกปฏิบัติการไฟฟ้าแรงสูง | Tel <i class="fa-solid fa-square-phone"></i> :
                    034-339-224, (33) 15610 e-mail <i class="fa-solid fa-square-envelope"></i> : hvtc@pea.co.th</p>
            </div>
        </footer>

    </div>
</body>

<script>
    $(document).ready(function () {
        $('#coursedata').DataTable({
            'pageLength': 25,
            language: {
                url: 'static/datatables/th.json'
            }
        });
    });
</script>

</html>